In [595]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("../input"))

['.DS_Store', 'imbd-sf']

In [596]:
data = pd.read_csv('../input/imbd-sf/data.csv')
data.head()

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [597]:
len(data)

1890

# Предобработка датасета

In [598]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете
data['profit'] = data['revenue'] - data['budget']
data['release_month'] = data.release_date.str.split('/').str.slice(start=0, stop=1).apply(''.join)
data.loc[(data['release_month'] == '6') | (data['release_month'] == '7') | (data['release_month'] == '8'), 'season'] = 'Summer'
data.loc[(data['release_month'] == '9') | (data['release_month'] == '10') | (data['release_month'] == '11'), 'season'] = 'Fall'
data.loc[(data['release_month'] == '12') | (data['release_month'] == '1') | (data['release_month'] == '2'), 'season'] = 'Winter'
data.loc[(data['release_month'] == '3') | (data['release_month'] == '4') | (data['release_month'] == '5'), 'season'] = 'Spring'
data

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month,season
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810,6,Summer
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,228436354,5,Spring
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,185238201,3,Spring
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1868178225,12,Winter
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,1316249360,4,Spring
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1885,tt0120903,0.182246,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,2766,6.6,2000,82299717,7,Summer
1886,tt0192255,0.123920,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,42,6.4,2000,-8444012,10,Fall
1887,tt0131704,0.104908,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,35,4.0,2000,-40865180,6,Summer
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,21,5.2,2000,-3962091,2,Winter
1889,tt0163676,0.015997,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,12,5.2,2000,-9782502,7,Summer

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [599]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
display(data.sort_values(by='budget', ascending=False).head(1))
answer_ls.append(4)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month,season
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431,12,Winter

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [600]:
display(data.sort_values(by='runtime', ascending=False).head(1))
answer_ls.append(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month,season
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003,-43076064,2,Winter

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [601]:
display(data.sort_values(by='runtime').head(1))
answer_ls.append(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month,season
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011,-15540000,4,Spring

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [602]:
display(data.runtime.mean())
answer_ls.append(2)

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [603]:
display(data.runtime.median())
answer_ls.append(1)

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [604]:
display(data.sort_values(by='profit', ascending=False).head(1))
answer_ls.append(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month,season
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847,12,Winter

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [605]:
display(data.sort_values(by='profit').head(1))
answer_ls.append(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month,season
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431,12,Winter

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [606]:
display(len(data[data['profit'] > 0]))
answer_ls.append(1)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [607]:
display(data[data['release_year'] == 2008].sort_values(by='profit', ascending=False).head(1))
answer_ls.append(4)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month,season
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825,7,Summer

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [608]:
display(data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)].sort_values(by='profit').head(1))
answer_ls.append(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month,season
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090,7,Summer

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [609]:
display(pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts())
answer_ls.append(3)

Drama              782
Comedy             683
Thriller           597
Action             583
Adventure          416
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            223
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             20
Documentary          8
Foreign              2
dtype: int64

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [610]:
display(pd.DataFrame(data[data['profit'] > 0].genres.str.split('|').tolist()).stack().value_counts())
answer_ls.append(1)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [611]:
display(data['director'].value_counts())
answer_ls.append(3)

Steven Soderbergh                            13
Ridley Scott                                 12
Clint Eastwood                               12
Shawn Levy                                   10
Steven Spielberg                             10
                                             ..
Mark Andrews|Steve Purcell|Brenda Chapman     1
Dito Montiel                                  1
Christophe Gans                               1
Jonathan Frakes                               1
Jan de Bont                                   1
Name: director, Length: 958, dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [612]:
display(data[data['profit'] > 0]['director'].value_counts())
answer_ls.append(4)

Ridley Scott              12
Steven Soderbergh         10
Steven Spielberg          10
Clint Eastwood            10
Shawn Levy                 9
                          ..
Frank Darabont             1
Dean Parisot               1
Anthony Bell|Ben Gluck     1
John Carney                1
Simon Wincer               1
Name: director, Length: 774, dtype: int64

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [613]:
display(data.groupby('director').sum().sort_values(by='profit', ascending=False).reset_index().head(1)[['director', 'profit']])
answer_ls.append(5)

        director      profit
0  Peter Jackson  5202593685

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [572]:
    import itertools
    actors = list(set(itertools.chain(*list(map(lambda x: x.split('|'), data['cast'].values)))))
    result_dataframe = pd.DataFrame({'Actors' : actors})
    profits = []
    for actor in result_dataframe['Actors'].to_list():
        profits.append(data[data.cast.str.contains(actor)]['profit'].sum())
    result_dataframe['Profit'] = profits
    display(result_dataframe.sort_values(by='Profit', ascending=False).head(1))

answer_ls.append(1)

           Actors      Profit
2025  Emma Watson  6666245597

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [573]:
import itertools
actors = list(set(itertools.chain(*list(map(lambda x: x.split('|'), data['cast'].values)))))
result_dataframe = pd.DataFrame({'Actors' : actors})
profits = []
for actor in result_dataframe['Actors'].to_list():
    profits.append(data[(data.cast.str.contains(actor)) & (data['release_year'] == 2012)]['profit'].sum())
result_dataframe['Profit'] = profits
display(result_dataframe.sort_values(by='Profit').head(1))

answer_ls.append(3)

            Actors    Profit
143  Kirsten Dunst -68109207

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [574]:
display(pd.DataFrame(data[data['budget'] > data['budget'].mean()].cast.str.split('|').tolist()).stack().value_counts())
answer_ls.append(3)

Matt Damon               18
Adam Sandler             17
Angelina Jolie           16
Eddie Murphy             15
Samuel L. Jackson        15
                         ..
John Mahoney              1
Jonathan Frakes           1
Sydney Tamiia Poitier     1
Damian Lewis              1
Minnie Driver             1
Length: 1508, dtype: int64

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [575]:
display(pd.DataFrame(data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').tolist()).stack().value_counts())
answer_ls.append(2)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Horror              1
Romance             1
dtype: int64

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [576]:
display(pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().value_counts())
answer_ls.append(1)

Universal Pictures                        173
Warner Bros.                              168
Paramount Pictures                        122
Columbia Pictures                         117
Twentieth Century Fox Film Corporation    109
                                         ...
Dalian Wanda Group                          1
AZL Productions KG                          1
New Amsterdam Entertainment                 1
Yuma                                        1
Stratus Film Co.                            1
Length: 1772, dtype: int64

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [577]:
display(pd.DataFrame(data[data.release_year == 2015].production_companies.str.split('|').tolist()).stack().value_counts())
answer_ls.append(4)

Warner Bros.                              12
Universal Pictures                        10
Twentieth Century Fox Film Corporation     8
Paramount Pictures                         7
Columbia Pictures                          7
                                          ..
Allspark Pictures                          1
Insurge Pictures                           1
Chartoff-Winkler Productions               1
Film Art Media                             1
Prime Focus                                1
Length: 246, dtype: int64

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [578]:
import itertools
companies = list(set(itertools.chain(*list(map(lambda x: x.split('|'), data['production_companies'].values)))))
result_dataframe = pd.DataFrame({'companies' : companies})
profits = []
for company in result_dataframe['companies'].to_list():
    profits.append(data[(data.production_companies.str.contains(company)) & (data['genres'].str.contains('Comedy'))]['profit'].sum())
result_dataframe['profit'] = profits
display(result_dataframe.sort_values(by='profit', ascending=False).head(1))

answer_ls.append(2)

      companies      profit
1180  Universal  9130349034

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [579]:
import itertools
companies = list(set(itertools.chain(*list(map(lambda x: x.split('|'), data['production_companies'].values)))))
result_dataframe = pd.DataFrame({'companies' : companies})
profits = []
for company in result_dataframe['companies'].to_list():
    profits.append(data[(data.production_companies.str.contains(company)) & (data['release_year'] == 2012) & (data['genres'].str.contains('Comedy'))]['profit'].sum())
result_dataframe['profit'] = profits
display(result_dataframe.sort_values(by='profit', ascending=False).head(1))

answer_ls.append(3)

                           companies     profit
981  Twentieth Century Fox Animation  782244782

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [580]:
display(data[data['production_companies'].str.contains('Paramount Pictures')].sort_values(by='profit').head(1))

answer_ls.append(1)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month,season
926,tt0267626,0.72233,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034,7,Summer

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [581]:
display(data.groupby('release_year').sum().sort_values(by='profit', ascending=False).reset_index().head(1))
answer_ls.append(5)

,release_year,popularity,budget,revenue,runtime,vote_count,vote_average,profit
0,2015,412.757717,6780630004,25449202382,13355,143377,755.2,18668572378

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [582]:
display(data[data['production_companies'].str.contains('Warner Bros')].groupby('release_year').sum().sort_values(by='profit', ascending=False).reset_index().head(1))
answer_ls.append(1)

,release_year,popularity,budget,revenue,runtime,vote_count,vote_average,profit
0,2014,63.903623,947600000,3243064519,1576,24855,88.9,2295464519

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [583]:
display(data['release_month'].value_counts())
answer_ls.append(4)

9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [584]:
display(data['season'].value_counts())
answer_ls.append(2)

Fall      559
Summer    450
Spring    445
Winter    436
Name: season, dtype: int64

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [585]:
display(data[data['season'] == 'Winter']['director'].value_counts())
answer_ls.append(5)

Peter Jackson                    7
Clint Eastwood                   6
Steven Soderbergh                6
Martin Scorsese                  4
Nancy Meyers                     4
                                ..
Taylor Hackford                  1
J.C. Chandor                     1
Aaron Seltzer|Jason Friedberg    1
Christopher McQuarrie            1
Christopher B. Landon            1
Name: director, Length: 333, dtype: int64

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [586]:
pivot = pd.pivot_table(data, index='release_month', columns='release_year', aggfunc='sum').idxmax()['profit'].value_counts().idxmax()
display(pivot)
answer_ls.append(2)

'6'

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [587]:
data['length_of_film'] = data['original_title'].apply(len)

companies_list=[]

for index, row in data.iterrows():
    companies_list += [(row['imdb_id'], company) for company in row['production_companies'].split('|')]

production_companies=pd.DataFrame(companies_list, columns=['imdb_id', 'production_companie'])

display(production_companies.merge(data, on='imdb_id').groupby('production_companie').agg('mean').sort_values('length_of_film', ascending=False).head(1))

answer_ls.append(5)

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,profit,length_of_film
production_companie,,,,,,,,,
Four By Two Productions,1.930735,18000000.0,261572744.0,82.0,979.0,6.4,2006.0,243572744.0,83.0

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [588]:
data['length_of_film_2'] = data['original_title'].apply(lambda x: len(x.split()))
display(production_companies.merge(data, on='imdb_id').groupby('production_companie').agg('mean').sort_values('length_of_film_2', ascending=False).head(1))
answer_ls.append(5)

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,profit,length_of_film,length_of_film_2
production_companie,,,,,,,,,,
Four By Two Productions,1.930735,18000000.0,261572744.0,82.0,979.0,6.4,2006.0,243572744.0,83.0,12.0

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [589]:
import string
words=set()
for i,d in data.iterrows():
    words |= set([x.lower() for x in d.original_title.split()])
display(len(words))
answer_ls.append(3)

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [590]:
one_percent = int(len(data)*0.01)
display(data.sort_values(by='vote_average', ascending=False).head(one_percent)['original_title'])

answer_ls.append(1)

600                                       The Dark Knight
125                                    The Imitation Game
9                                              Inside Out
118                                          Interstellar
34                                                   Room
1082        The Lord of the Rings: The Return of the King
873                                           The Pianist
1801                                              Memento
1192                                     12 Years a Slave
128                                             Gone Girl
138                              The Grand Budapest Hotel
119                               Guardians of the Galaxy
1184                              The Wolf of Wall Street
370                                             Inception
316                                              3 Idiots
1564                Eternal Sunshine of the Spotless Mind
497     The Lord of the Rings: The Fellowship of the Ring
28                                              Spotlight
Name: original_title, dtype: object

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [591]:
import itertools
import collections

actors = collections.Counter()
for i, row in data.iterrows():
    actor = row.cast.split('|')
    actors.update([ x for x in itertools.combinations(actor, 2)])

display(actors.most_common(5))

answer_ls.append(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [592]:
directors_df = pd.DataFrame(data.director.str.split('|').tolist()).stack().reset_index()
directors_df.columns =  ['data_index', 'qty_index', 'director']

mask = ['Quentin Tarantino', 'Steven Soderbergh', 'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood']

directors_df['profitable_films'] = directors_df.data_index.apply(lambda x: 1 if data.iloc[x]['profit'] > 0 else 0)
directors_df['number of films']=1


grouped = directors_df.groupby(['director'])[['profitable_films', 'number of films']].sum().reset_index()

grouped['probability'] = grouped['profitable_films'] / dir_grouped['number of films']

display(dir_grouped[dir_grouped.director.isin(mask)].sort_values(by='probability', ascending=False))

answer_ls.append(4)

              director  profitable_films  number of films  probability
151  Christopher Nolan                 8                8     1.000000
748  Quentin Tarantino                 6                7     0.857143
157     Clint Eastwood                10               12     0.833333
902  Steven Soderbergh                10               13     0.769231
791   Robert Rodriguez                 8               11     0.727273

# Submission

In [593]:
len(answer_ls)

36

In [594]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4